@{
    ViewBag.Title = "Home Page";
}

<!-- Hero Start -->
@*<div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-uppercase text-dark mb-lg-4">ITCOURSESLEARNING</h1>
                    <h1 class="text-uppercase text-white mb-lg-4">Đầu tư vào kiến thức của bạn và đạt được mục tiêu của mình</h1>
                    <p class="fs-4 text-white mb-lg-4">Trở thành chuyên gia trong lĩnh vực công nghệ thông tin với khóa học trực tuyến chất lượng cao của chúng tôi.</p>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <a href="" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5">Xem thêm</a>
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                                data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="font-weight-normal text-white m-0 ms-4 d-none d-sm-block">Xem giới thiệu</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Hero End -->
<!-- Video Modal Start -->
<!--<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">-->
<!-- 16:9 aspect ratio -->
<!--<div class="ratio ratio-16x9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/uqlAzC127o8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Video Modal End -->
<!-- Products Start -->
@*<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase">Đặc biệt</h6>
            <h1 class="display-5 text-uppercase mb-0">Khóa học cao cấp</h1>
        </div>*@
<!--<div class="owl-carousel product-carousel">
    <div class="pb-5">
        <div class="product-item position-relative bg-light d-flex flex-column text-center">
            <img class="img-fluid mb-4" src="~/Content/img/product-1.png" alt="">
            <h6 class="text-uppercase">Quality Pet Foods</h6>
            <h5 class="text-primary mb-0y-co">$199.00</h5>
            <div class="btn-action d-flex justifntent-center">
                <a class="btn btn-primary py-2 px-3" href=""><i class="bi bi-cart"></i></a>
                <a class="btn btn-primary py-2 px-3" href=""><i class="bi bi-eye"></i></a>
            </div>
        </div>
    </div>-->
@*<div class="pb-5">
        <div class="product-item position-relative bg-light d-flex flex-column text-center">
            <img class="img-fluid mb-4" src="~/Content/img/product-2.png" alt="">
            <h6 class="text-uppercase">Quality Pet Foods</h6>
            <h5 class="text-primary mb-0">$199.00</h5>
            <div class="btn-action d-flex justify-content-center">
                <a class="btn btn-primary py-2 px-3" href=""><i class="bi bi-cart"></i></a>
                <a class="btn btn-primary py-2 px-3" href=""><i class="bi bi-eye"></i></a>
            </div>
        </div>
    </div>
    <div class="pb-5">
        <div class="product-item position-relative bg-light d-flex flex-column text-center">
            <img class="img-fluid mb-4" src="~/Content/img/product-3.png" alt="">
            <h6 class="text-uppercase">Quality Pet Foods</h6>
            <h5 class="text-primary mb-0">$199.00</h5>
            <div class="btn-action d-flex justify-content-center">
                <a class="btn btn-primary py-2 px-3" href=""><i class="bi bi-cart"></i></a>
                <a class="btn btn-primary py-2 px-3" href=""><i class="bi bi-eye"></i></a>
            </div>
        </div>
    </div>
    <div class="pb-5">
        <div class="product-item position-relative bg-light d-flex flex-column text-center">
            <img class="img-fluid mb-4" src="~/Content/img/product-4.png" alt="">
            <h6 class="text-uppercase">Quality Pet Foods</h6>
            <h5 class="text-primary mb-0">$199.00</h5>
            <div class="btn-action d-flex justify-content-center">
                <a class="btn btn-primary py-2 px-3" href=""><i class="bi bi-cart"></i></a>
                <a class="btn btn-primary py-2 px-3" href=""><i class="bi bi-eye"></i></a>
            </div>
        </div>
    </div>
    <div class="pb-5">
        <div class="product-item position-relative bg-light d-flex flex-column text-center">
            <img class="img-fluid mb-4" src="~/Content/img/product-5.png" alt="">
            <h6 class="text-uppercase">Quality Pet Foods</h6>
            <h5 class="text-primary mb-0">$199.00</h5>
            <div class="btn-action d-flex justify-content-center">
                <a class="btn btn-primary py-2 px-3" href=""><i class="bi bi-cart"></i></a>
                <a class="btn btn-primary py-2 px-3" href=""><i class="bi bi-eye"></i></a>
            </div>
        </div>
    </div>*@
<!--</div>-->
@*</div>
    </div>*@
<!-- Products End -->
<!-- Offer Start -->
@*<div class="container-fluid bg-offer my-5 py-5">
        <section class="section main-banner" id="top" data-section="section1">
            <video autoplay muted loop id="bg-video">
                <source src="~/Content/img/course-video.mp4" type="video/mp4" />
            </video>
            <div class="video-overlay header-text">
                <div class="scroll-to-section">
                    <div class="container py-5">
                        <div class="row gx-5 justify-content-start">
                            <div class="col-lg-7">
                                <div class="border-start border-5 border-primary ps-5 mb-5" border-green">
                                    <h6 class="display-2 text-uppercase text-green">Ưu đãi đặc biệt</h6>
                                    <h1 class="display-5 text-uppercase text-white mb-0">Giảm 50% cho học viên đăng ký khóa học lần đầu tiên.</h1>
                                </div>
                                <p class="text-white mb-4"> Tri ân các học viên mới! <br> Đăng ký ngay để trở thành một trong những người đầu tiên hưởng lợi từ khóa học của chúng tôi và tiết kiệm ngay bây giờ! <br> Nếu bạn trở thành học viên của chúng tôi, bạn có thể nhận được nhiều phần thưởng và ưu đãi khác nữa ngoài việc học tập với các khóa học tuyệt vời<br> Chúng tôi sẽ thường xuyên tổ chức các chương trình khuyến mãi đặc biệt và quà tặng cho các học viên của mình. Ngoài ra, học viên còn được cung cấp các buổi tư vấn cá nhân để giúp học viên phát triển kỹ năng và nâng cao kiến thức của mình.<br>Với các chương trình và ưu đãi này, chúng tôi hy vọng rằng bạn sẽ có thêm động lực để tiếp tục học tập và phát triển bản thân.</p>
                                <a href="" class="btn btn-light py-md-3 px-md-5 me-3">Mua sắm ngay</a>
                                <a href="" class="btn btn-outline-light py-md-3 px-md-5">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>*@
<!-- Offer End -->
<!--Product FREE Start-->
@*<div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">MIỄN PHÍ</h5>
                <h1 class="mb-5">Danh sách khóa học miễn phí</h1>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/Content/img-freeCourses/VIOLET.png" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>HTML VÀ CSS (CƠ BẢN)</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        <a href="/new-page" class="button" style="float: right; font-weight: bold;">Học ngay</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/Content/img-freeCourses/GRAY.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>LẬP TRÌNH PYTHON (CƠ BẢN)</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        <a href="/new-page" class="button" style="float: right; font-weight: bold;">Học ngay</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/Content/img-freeCourses/Orange.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>LẬP TRÌNH C# (CƠ BẢN)</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        <a href="/new-page" class="button" style="float: right; font-weight: bold;">Học ngay</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/Content/img-freeCourses/Pink.png" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>AI-MACHINE LEARNING (CƠ BẢN)</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        <a href="/new-page" class="button" style="float: right; font-weight: bold;">Học ngay</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/Content/img-freeCourses/Blue.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>HỌC PHP (CƠ BẢN)</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        <a href="/new-page" class="button" style="float: right; font-weight: bold;">Học ngay</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/Content/img-freeCourses/Green.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>REACT JS (CƠ BẢN)</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        <a href="/new-page" class="button" style="float: right; font-weight: bold;">Học ngay</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/Content/img-freeCourses/blue2.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>NODE JS (CƠ BẢN)</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        <a href="/new-page" class="button" style="float: right; font-weight: bold;">Học ngay</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/Content/img-freeCourses/brown.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>TIẾNG ANH CHUYÊN NGÀNH (CƠ BẢN)</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        <a href="/new-page" class="button" style="float: right; font-weight: bold;">Học ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-1.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-2.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-3.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-4.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-5.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-6.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-7.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-8.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-1.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-2.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-3.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-4.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-5.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-6.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-7.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-8.jpg" alt="website template image" style="width:80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2"><span>Chicken Burger</span> <span class="text-primary">Miễn Phí</span></h5>
                                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                    </div>
                                    <a href="/new-page" class="button" style="float: right;">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!--Product FREE End -->
<!-- Pricing Plan Start -->
@*<div class="container-fluid py-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Pricing Plan</h6>
                <h1 class="display-5 text-uppercase mb-0">Competitive Pricing For Pet Services</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="bg-light text-center pt-5 mt-lg-5">
                        <h2 class="text-uppercase">Cơ bản</h2>
                        <h6 class="text-body mb-5">The Best Choice</h6>
                        <div class="text-center bg-primary p-4 mb-2">
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top"
                                       style="font-size: 22px; line-height: 45px;">đ</small>49.000<small class="align-bottom" style="font-size: 16px; line-height: 40px;">
                                    /
                                    Tháng
                                </small>
                            </h1>
                        </div>
                        <div class="text-center p-4">
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <span>HTML5 & CSS3</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <span>Bootstrap v5</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <span>Responsive Layout</span>
                                <i class="bi bi-x fs-4 text-danger"></i>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <span>Browsers Compatibility</span>
                                <i class="bi bi-x fs-4 text-danger"></i>
                            </div>
                            <a href="" class="btn btn-primary text-uppercase py-2 px-4 my-3">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bg-light text-center pt-5">
                        <h2 class="text-uppercase">Tiêu chuẩn</h2>
                        <h6 class="text-body mb-5">The Best Choice</h6>
                        <div class="text-center bg-dark p-4 mb-2">
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top"
                                       style="font-size: 22px; line-height: 45px;">đ</small>99.000<small class="align-bottom" style="font-size: 16px; line-height: 40px;">
                                    /
                                    Tháng
                                </small>
                            </h1>
                        </div>
                        <div class="text-center p-4">
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <span>HTML5 & CSS3</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <span>Bootstrap v5</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <span>Responsive Layout</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <span>Browsers Compatibility</span>
                                <i class="bi bi-x fs-4 text-danger"></i>
                            </div>
                            <a href="" class="btn btn-primary text-uppercase py-2 px-4 my-3">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bg-light text-center pt-5 mt-lg-5">
                        <h2 class="text-uppercase">Đặc biệt</h2>
                        <h6 class="text-body mb-5">The Best Choice</h6>
                        <div class="text-center bg-primary p-4 mb-2">
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top"
                                       style="font-size: 22px; line-height: 45px;">đ</small>149.000<small class="align-bottom" style="font-size: 16px; line-height: 40px;">
                                    /
                                    Tháng
                                </small>
                            </h1>
                        </div>
                        <div class="text-center p-4">
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <span>HTML5 & CSS3</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <span>Bootstrap v5</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <span>Responsive Layout</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <span>Browsers Compatibility</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </div>
                            <a href="" class="btn btn-primary text-uppercase py-2 px-4 my-3">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Pricing Plan End -->
<!-- Team Start -->
@*<div class="container-fluid py-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h1 class="display-5 text-uppercase mb-0">Đội ngũ giảng viên chuyên nghiệp</h1>
            </div>
            <div class="owl-carousel team-carousel position-relative" style="padding-right: 25px;">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Content/img/team-1.jpg" alt="">
                        <div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="text-uppercase">Full Name</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Content/img/team-2.jpg" alt="">
                        <div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="text-uppercase">Full Name</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Content/img/team-3.jpg" alt="">
                        <div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="text-uppercase">Full Name</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Content/img/team-4.jpg" alt="">
                        <div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="text-uppercase">Full Name</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Content/img/team-5.jpg" alt="">
                        <div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="text-uppercase">Full Name</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Team End -->
<!-- Testimonial Start -->
@*<div class="container-fluid bg-testimonial py-5" style="margin: 45px 0;">
        <div class="container py-5">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="owl-carousel testimonial-carousel bg-white p-5">
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-4">
                                <img class="img-fluid mx-auto" src="~/Content/img/testimonial-1.jpg" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                                    <i class="bi bi-chat-square-quote text-primary"></i>
                                </div>
                            </div>
                            <p>Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat. Erat dolor rebum sit ipsum.</p>
                            <hr class="w-25 mx-auto">
                            <h5 class="text-uppercase">Client Name</h5>
                            <span>Profession</span>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-4">
                                <img class="img-fluid mx-auto" src="~/Content/img/testimonial-2.jpg" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                                    <i class="bi bi-chat-square-quote text-primary"></i>
                                </div>
                            </div>
                            <p>Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat. Erat dolor rebum sit ipsum.</p>
                            <hr class="w-25 mx-auto">
                            <h5 class="text-uppercase">Client Name</h5>
                            <span>Profession</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Testimonial End -->
<!-- Blog Start -->
@*<div class="container-fluid py-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Latest Blog</h6>
                <h1 class="display-5 text-uppercase mb-0">Latest Articles From Our Blog Post</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="blog-item">
                        <div class="row g-0 bg-light overflow-hidden">
                            <div class="col-12 col-sm-5 h-100">
                                <img class="img-fluid h-100" src="~/Content/img/blog-1.jpg" style="object-fit: cover;">
                            </div>
                            <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="bi bi-bookmarks me-2"></i>Web Design</small>
                                        <small><i class="bi bi-calendar-date me-2"></i>01 Jan, 2045</small>
                                    </div>
                                    <h5 class="text-uppercase mb-3">Dolor sit magna rebum clita rebum dolor</h5>
                                    <p>Ipsum sed lorem amet dolor amet duo ipsum amet et dolore est stet tempor eos dolor</p>
                                    <a class="text-primary text-uppercase" href="">Read More<i class="bi bi-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-item">
                        <div class="row g-0 bg-light overflow-hidden">
                            <div class="col-12 col-sm-5 h-100">
                                <img class="img-fluid h-100" src="~/Content/img/blog-2.jpg" style="object-fit: cover;">
                            </div>
                            <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="bi bi-bookmarks me-2"></i>Web Design</small>
                                        <small><i class="bi bi-calendar-date me-2"></i>01 Jan, 2045</small>
                                    </div>
                                    <h5 class="text-uppercase mb-3">Dolor sit magna rebum clita rebum dolor</h5>
                                    <p>Ipsum sed lorem amet dolor amet duo ipsum amet et dolore est stet tempor eos dolor</p>
                                    <a class="text-primary text-uppercase" href="">Read More<i class="bi bi-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>chúng tôi.
    </div>*@
<!-- Blog End -->

<div id="ftwp-postcontent">
    <blockquote>
        <p>
            &nbsp;Thế giới “Lập trình” dường như khá là mới mẻ đối với bạn. Có quá nhiều thứ khiến bạn bối rối không biết nên bắt đầu như thế nào. Bắt đầu từ đâu để có thể trở thành một “Lập trình viên”.
            <br> Nếu bạn đang ở trạng thái như vậy thì đây chính là những chia sẻ và kinh nghiệm dành cho bạn.
        </p>
    </blockquote><h2 id="ftoc-heading-1" class="ftwp-heading" style="text-align: center;"><span style="color: #191919;"><strong>Lập trình là gì?</strong></span></h2>
    <p>Theo Wikipedia, lập trình được đánh giá là 1 trong 10 nghề hấp dẫn nhất của thế kỷ 21. Lập trình viên đã luôn HOT ngay từ khi mới xuất hiện và cho đến bây giờ khi công nghệ không thể tách rời khỏi cuộc sống của chúng ta, Nghề lập trình được dự đoán sẽ vẫn luôn khát nhân lực trong ít nhất là 10 năm tới</p>
    <figure id="attachment_2170" aria-describedby="caption-attachment-2170" style="width: 600px" class="wp-caption aligncenter"><img decoding="async" class="size-full wp-image-2170 lazy-load-active" src="https://rikkei.edu.vn/wp-content/uploads/2022/06/hoc-lap-trinh-la-gi.jpg" data-src="https://rikkei.edu.vn/wp-content/uploads/2022/06/hoc-lap-trinh-la-gi.jpg" alt="Học lập trình là gì?" width="600" height="400"><figcaption id="caption-attachment-2170" class="wp-caption-text"><em>Học lập trình là gì?</em></figcaption></figure>
    <p>Vậy, lập trình viên là gì? Và nghề lập trình sẽ làm những gì?</p>
    <p>
        Lập trình chính là công việc tạo ra các chương trình, ứng dụng trên máy tính, thiết bị nhằm phục vụ cho người dùng. Chẳng hạn như: hệ điều hành máy tính, các phần mềm, các ứng dụng game, website mua bán…<br>
        Lập trình viên là người sử dụng các ngôn ngữ lập trình và công cụ để thiết kế, xây dựng và bảo trì các chương trình phần mềm, ứng dụng, hay trang web,… cho máy tính và điện thoại. Có thể xem lập trình viên như một người nhạc sĩ, sáng tác ra lời bài hát và thậm chí là những nốt nhạc để tạo ra một bản “hit”
    </p>
    <p>Nhờ lập trình ứng dụng máy tính, con người có thể dễ dàng làm việc hơn, tiết kiệm thời gian hơn.</p><p>Nghe có vẻ khó hiểu nhưng thực tế, thành quả của việc lập trình lại rất gần gũi với cuộc sống con người. Hàng ngày, bạn có thể xem các website về tin tức xã hội, thể thao, kinh tế hay bạn dùng cách ứng dụng chi chú công việc, theo dõi sức khỏe; hoặc các ứng dụng chơi game như: PUBG, Free Fire, đánh bài, bắt Pokemon,… tất cả những tiện ích này đều được sinh ra nhờ việc lập trình.</p>
    <h2 id="ftoc-heading-2" class="ftwp-heading" style="text-align: center;">Ai có thể học lập trình?</h2>
    <p>“Để nông dân biết code” là sứ mệnh mà chúng tôi lấy làm kim chỉ nam để theo đuổi trọn đời. Đây cũng là câu nói khẳng định: Bất kỳ ai cũng có thể học để trở thành một lập trình viên. Chỉ cần bạn có đủ quyết tâm và kiên trì theo đuổi mục tiêu.</p>
    <p>Học lập trình là rất khó ư? Học lập trình là phải qua trường lớp đại học bài bản ư?</p>
    <figure id="attachment_2067" aria-describedby="caption-attachment-2067" style="width: 600px" class="wp-caption aligncenter"><img decoding="async" loading="lazy" class="lazy-load wp-image-2067 size-full" <img src="~/Content/ImgGioiThieu/BoyAndGirl.jpg" alt="Ai có thể học lập trình?" width="600" height="400"><figcaption id="caption-attachment-2067" class="wp-caption-text"><em>Ai có thể học lập trình?</em></figcaption></figure><p>Tất cả rào cản của các bạn sẽ được phá vỡ khi đến với chúng tôi.</p>
    <p>Dù bạn là:</p>
    <ul>
        <li>Học sinh cấp 3</li>
        <li>Sinh viên muốn chuyển ngành</li>
        <li>Người đi làm muốn chuyển nghề</li>
        <li>Bộ đội xuất ngũ chưa có việc làm</li>
        <li>Du học sinh, thực tập sinh Nhật Bản về nước. Có trình độ ngôn ngữ và muốn quay lại Nhật Bản làm việc</li>
    </ul>
    <p>Nếu thực sự bạn có đam mê với máy tính và mong muốn trở thành Lập trình viên thì không có gì ngăn cản các bạn.</p>
    <h2 id="ftoc-heading-3" class="ftwp-heading" style="text-align: center;">Học lập trình là học những gì? Học lập trình có khó không?</h2>
    <h3 id="ftoc-heading-4" class="ftwp-heading">Học lập trình là học những gì?</h3>
    <p>Học lập trình chính là học để trở thành lập trình viên. Như vậy, ta có thể thấy học lập trình là học các kỹ năng và kiến thức về lập trình như:</p>
    <ul>
        <li>Cách sử dụng các ngôn ngữ lập trình.</li>
        <li>Cách sử dụng các phần mềm hỗ trợ lập trình</li>
        <li>Cách viết ra những đoạn code theo trình tự để hoàn thành công việc.</li>
    </ul>
    <p>Có nhiều người cảm thấy lập trình là một khái niệm bao hàm những thứ khó hiểu hoặc chỉ có những người có trí thông minh vượt trội mới học được lập trình.</p>
    <h3 id="ftoc-heading-5" class="ftwp-heading">Vậy Học lập trình có khó không?</h3>
    <p>Đây là câu hỏi của rất nhiều người có ý định theo ngành lập trình.</p>
    <p>Tuy nhiên, thực tế lập trình không có yêu cầu gì cao đối với người học. Trên thế giới và tại Việt Nam, có rất nhiều lập trình viên được đào tạo ra từ các khóa ngắn hạn và rất thành công.</p>
    <p>Học lập trình:</p>
    <ul>
        <li>Không cần giỏi toán</li>
        <li>Không cần giỏi tiếng anh</li>
        <li>Không yêu cầu bắt buộc phải có bằng đại học khi xin việc</li>
    </ul>
    <p>
        Việc học lập trình cũng giống như học các kỹ năng khác, để học tốt thì bạn chỉ cần bạn có tư duy logic, ham học hỏi và nhất là phải có quyết tâm là có thể học được.<br>
        Lập trình cũng không quá khó để tiếp cận. Nếu không muốn nói là nó tương đối dễ tiếp cận và dễ đam mê. Nếu chưa có nền tảng tốt về toán và tư duy logic thì bạn cần phải cố gắng nỗ lực nhiều hơn một chút.
    </p>
    <h2 id="ftoc-heading-6" class="ftwp-heading" style="text-align: center;">
        <span style="background-color: #ffffff;">Ngôn ngữ lập trình là gì? Phân loại ngôn ngữ lập trình</span>
    </h2><p>
        Ngôn ngữ lập trình (Programming language) là một dạng ngôn ngữ máy tính, được dùng để viết ra phần mềm, tập lệnh hoặc các hướng dẫn cho máy tính làm theo.<br> Hiện nay có rất nhiều ngôn ngữ lập trình, mặc dù chúng có điểm chung tương đồng nhưng mỗi loại ngôn ngữ lập trình lại có những cú pháp sử dụng riêng biệt. Đòi hỏi các lập trình viên phải học các quy tắc, cú pháp và cấu trúc ngôn ngữ riêng.
    </p><figure id="attachment_2171" aria-describedby="caption-attachment-2171" style="width: 600px" class="wp-caption aligncenter">
        <img decoding="async" loading="lazy" class="lazy-load size-full wp-image-2171"
        <img src="~/Content/ImgGioiThieu/IT1.jpg" alt="Muốn học lập trình tốt thì bạn phải nắm vững kiến thức về ngôn ngữ lập trình" width="600" height="400"><figcaption id="caption-attachment-2171" class="wp-caption-text"><em>Muốn học lập trình tốt thì bạn phải nắm vững kiến thức về ngôn ngữ lập trình</em></figcaption>
    </figure><h3 id="ftoc-heading-7" class="ftwp-heading" style="text-align: left;">Ngôn ngữ lập trình được chia thành những loại chính sau đây:</h3>
    <h4 id="ftoc-heading-8" class="ftwp-heading"><strong>1. Ngôn ngữ máy tính</strong></h4>
    <p>Đây được xem là ngôn ngữ nền tảng của bộ vi xử lý. Các chương trình được viết trong tất cả các dạng khác cuối cùng đều được chuyển thành ngôn ngữ máy. Trước khi phần mềm đó được thi hành.<br> Những chỉ thị trong nó được biểu diễn dưới dạng mã nhị phân. Đặc biệt, đây là ngôn ngữ duy nhất mà bộ vi xử lý có thể nhận biết và thực hiện một cách trực tiếp.</p><h4 id="ftoc-heading-9" class="ftwp-heading"><strong>2. Hợp ngữ</strong></h4><p>Hợp ngữ là một ngôn ngữ lập trình bậc thấp. Nó dùng các từ viết tắt trong tiếng Anh để viết chương trình. Ví dụ như Input = nhập, add = phép cộng, sub = phép trừ…<br> Ngôn ngữ này đã từng được sử dụng rộng rãi trong tất cả các khía cạnh lập trình. Nhưng, ngày nay nó có xu hướng chỉ được dùng trong một số lĩnh vực hẹp. Chủ yếu để giao thiệp trực tiếp với phần cứng, xử lý nhiều vấn đề liên quan đến tốc độ cao. Điển hình như các trình điều khiển thiết bị, hệ thống nhúng cấp thấp và các ứng dụng thời gian thực.</p><h4 id="ftoc-heading-10" class="ftwp-heading"><strong>3. Ngôn ngữ lập trình bậc cao</strong></h4><p>Được xem như ngôn ngữ lập trình có hình thức gần với dạng tự nhiên, sở hữu tính độc lập cao. Ít phụ thuộc vào loại thiết bị, cũng như các trình dịch.<br> Một số ví dụ bậc cao phổ biến hiện nay. Như ngôn ngữ lập trình C, C++, Java, Pascal, PHP, Visual Basic.</p><p>Ngoài ra, chúng ta cũng có thể phân loại ngôn ngữ lập trình theo phương pháp xây dựng. Thực hiện chương trình như sau:</p><ul><li>Ngôn ngữ lập trình tuyến tính: Chương trình được thực hiện tuần tự từ đầu đến cuối, lệnh nào viết trước thì thực thi trước, viết sau chạy sau.</li><li>Ngôn ngữ lập trình hướng cấu trúc: Được chia nhỏ thành những dự án con, mỗi phần thực hiện một công việc xác định. Chương trình chính sẽ gọi nó theo một giải thuật, một cấu trúc được xác định trong mục chính.</li><li>Một vài ngôn ngữ lập trình hướng cấu trúc phổ biến là Pascal và C.</li><li>Ngôn ngữ lập trình hướng đối tượng: Phương pháp lập trình lấy đối tượng làm nền tảng để xây dựng giải thuật, chương trình. Chúng hướng đối tượng phổ biến như C#, lập trình đối tượng C++, lập trình JAVA…</li></ul><table class=" alignleft"><tbody><tr style="height: 21.1719px;"><td style="height: 21.1719px;"><span style="background-color: #282828; color: #ffff00;"><a style="color: #ffff00;" href="https://rikkei.edu.vn/top-08-ngon-ngu-lap-trinh-nen-hoc-trong-nam-2022/" target="_blank" rel="noopener"></a></span></td></tr></tbody></table><h2></h2><h2 id="ftoc-heading-11" class="ftwp-heading" style="text-align: center;">Lộ trình học lập trình cho người mới bắt đầu</h2><h3 id="ftoc-heading-12" class="ftwp-heading">Xác định mục tiêu học lập trình</h3><p>Đầu tiên: Bạn cần xác định Học lập trình phải bắt đầu từ <strong>MỤC TIÊU CUỐI CÙNG</strong></p><p>Vì công nghệ luôn thay đổi rất nhanh, tại thời điểm này xu hướng có thể là A. Nhưng ngày mai, hoặc một thời gian sau bất ngờ xuất hiện một công nghệ mới khiến cả thế giới lập trình viên đổ xô theo. Đây là điều hoàn toàn có thể xảy ra ở trong thế giới lập trình.</p><p>Chính vì vậy, bạn không nên bắt đầu bằng cách học một công nghệ, hay một ngôn ngữ cụ thể nào đó. Mà hãy bắt đầu bằng cách xác định xem:</p><p><strong>“MỤC TIÊU CUỐI CÙNG KHI BẠN MUỐN HỌC LẬP TRÌNH LÀ GÌ?”</strong></p><figure id="attachment_2172" aria-describedby="caption-attachment-2172" style="width: 600px" class="wp-caption aligncenter"><img decoding="async" loading="lazy" class="lazy-load wp-image-2172 size-full" src="~/Content/ImgGioiThieu/IT2.jpg" alt="Bạn cần xác định rõ mục tiêu cuối cùng của mình khi muốn học lập trình là gì?" width="600" height="400"><figcaption id="caption-attachment-2172" class="wp-caption-text"><em>Bạn cần xác định rõ mục tiêu cuối cùng của mình khi muốn học lập trình là gì?</em></figcaption></figure><p>Để xác định một mục tiêu thật cụ thể. Bạn thử trả lời câu hỏi sau đây:</p><p><strong>“Bạn muốn học lập trình để tạo ra sản phẩm gì?”</strong></p><p>Bạn muốn tạo ra:</p><ul><li>Một ứng dụng di động để chơi game, có hàng trăm triệu người dùng hàng tháng như Flappy Bird từng nổi tiếng một thời?</li><li>Một trang web có chức năng ABC, XYZ phổ biến như kenh14.vn?</li><li>Một con Robot thông minh biết làm tất cả việc nhà?</li><li>…</li></ul><p>Cho dù mục tiêu cuối cùng của bạn là gì thì hãy cố gắng hình dung cụ thể hóa nó bằng những sản phẩm, ứng dụng mà bạn có thể tưởng tượng ra. Càng chi tiết càng tốt nhé.</p><h3 id="ftoc-heading-13" class="ftwp-heading" style="text-align: left;">Xác định lĩnh vực mà mình muốn học</h3><p>Sau khi đã biết được mục tiêu cuối cùng của bạn là gì. Thì đến lúc bạn xác định lĩnh vực mà bạn muốn học</p><p>Công việc lập trình phần mềm là một hệ thống công việc cực kỳ lớn. Trong đó bao gồm nhiều mảng lĩnh vực nhỏ. Khi mới bắt đầu học lập trình, bạn nên xác định lĩnh vực nào là lĩnh vực mình muốn tham gia. Từ đó, bạn sẽ có thể lên kế hoạch học tập một cách tốt nhất.</p><figure id="attachment_2173" aria-describedby="caption-attachment-2173" style="width: 600px" class="wp-caption aligncenter"><img decoding="async" loading="lazy" class="lazy-load wp-image-2173 size-full" <img src="~/Content/ImgGioiThieu/IT3.jpg" alt="Xác định lĩnh vực lập trình mà bạn muốn tham gia là bước đầu tiên của việc học lập trình" width="600" height="400"><figcaption id="caption-attachment-2173" class="wp-caption-text"><em>Xác định lĩnh vực lập trình mà bạn muốn tham gia là bước đầu tiên của việc học lập trình</em></figcaption></figure><p>Các lĩnh vực lập trình phổ biến hiện nay mà bạn có thể tham gia là:</p><ul><li>Lập trình ứng dụng Website;</li><li>Lập trình di động;</li><li>Chuyên gia Big Data (dữ liệu lớn);</li><li>Kiểm thử phần mềm;</li><li>Chuyên viên ứng dụng, hệ thống thông tin.</li></ul><p>Xác định lĩnh vực lập trình mà bạn muốn tham gia là bước đầu tiên của việc học</p><h3 id="ftoc-heading-14" class="ftwp-heading">Học các ngôn ngữ lập trình cơ bản</h3><p>Sau khi xác định lĩnh vực lập trình mà bạn muốn tham gia. Hãy bắt đầu học một số ngôn ngữ lập trình phổ biến dưới đây:</p><figure id="attachment_2103" aria-describedby="caption-attachment-2103" style="width: 600px" class="wp-caption aligncenter"><img decoding="async" loading="lazy" class="lazy-load wp-image-2103 size-full" <img src="~/Content/ImgGioiThieu/cac-ngon-ngu-lap-trinh-co-ban.jpg" />/>" alt="Quá trình học lập trình không thể thiếu các ngôn ngữ lập trình cơ bản nhất" width="600" height="400"><figcaption id="caption-attachment-2103" class="wp-caption-text"><em>Quá trình học lập trình không thể thiếu các ngôn ngữ lập trình cơ bản nhất</em></figcaption></figure><ul><li>JavaScript: Là ngôn ngữ lập trình được sử dụng phổ biến nhất trên thế giới. Tính chất của JavaScript sẽ giúp cho người học trở thành một lập trình viên tốt hơn, làm được nhiều việc hơn.</li><li>Java: Java là một trong những ngôn ngữ lập trình mạnh nhất hiện nay, được sử dụng trên hơn ba tỷ thiết bị công nghệ thịnh hành nhất, các ứng dụng máy tính để bàn, ứng dụng di động, phát triển web, trí tuệ nhân tạo, ứng dụng đám mây… Vì vậy, nếu học tập và thành công trong công nghệ, người học có thể có mức lương rất cao, cơ hội phát triển tốt và được công nhận trên toàn cầu.</li><li>PHP: Là ngôn ngữ lập trình được các lập trình viên của nhiều nền tảng lớn sử dụng. Như: Facebook, WordPress, Wikipedia, MailChimp,… PHP được biết đến là ngôn ngữ lập trình có mã nguồn mở, miễn phí và giúp phát triển trang Web một cách tiết kiệm nhất. Những đặc tính này rất phù hợp và cần thiết cho người mới bắt đầu.</li><li>Python: Được thành lập từ những năm 80s, Python là một ngôn ngữ lập trình khá dễ tiếp cận. Ngôn ngữ này cho phép các lập trình viên tạo ra số lượng lớn mã code trong một thời gian ngắn. Để có thể tạo ra các ứng dụng thương mại.</li><li>C và C++: Với các sinh viên thuộc ngành công nghệ thông tin. Thì đây là một ngôn ngữ lập trình vô cùng quen thuộc. Mặc dù được đánh giá là khá khó học. Nhưng C và C++ lại là nền tảng của ngành lập trình, khoa học máy tính. Vì vậy, với những người mới bắt đầu, đây cũng là một loại ngôn ngữ nên học.</li></ul><h2 id="ftoc-heading-15" class="ftwp-heading" style="text-align: left;">Mức lương trung bình của Lập trình viên tại Việt Nam</h2><p>Theo báo cáo của Topdev, tổng hợp các dữ liệu việc làm hiện có trên thị trường. Mức lương trung bình của lập trình viên khi mới ra trường sẽ rơi vào khoảng 11 – 15 triệu đồng/tháng. Với lập trình viên có kinh nghiệm, thành thạo nhiều kỹ năng. Thu nhập có thể lên tới 1.322 USD/tháng (tương đương khoảng 30,6 triệu đồng/tháng).</p><p><span style="background-color: #282828; color: #ffff00;"><a style="color: #ffff00;" href="https://rikkei.edu.vn/luong-cua-lap-trinh-vien-co-cao-khong/" target="_blank" rel="noopener"></a></span></p><h2 id="ftoc-heading-16" class="ftwp-heading" style="text-align: center;">Phương pháp học lập trình hiệu quả</h2><p>Mô hình “Lớp học đảo ngược” (Flipped classroom) là một mô hình dạy học mới ra đời trong khoảng 10 – 15 năm nay ở Mỹ. Giúp người học phát triển khả năng tự học, tính chủ động và tích cực. Không phụ thuộc, chờ thầy cô đưa kiến thức như trước.</p><figure id="attachment_2139" aria-describedby="caption-attachment-2139" style="width: 600px" class="wp-caption aligncenter"><img decoding="async" loading="lazy" class="lazy-load wp-image-2139 size-full" <img src="~/Content/ImgGioiThieu/IT4.jpg" alt="Mô hình lớp học đảo ngược tại chúng tôi là gì?" width="600" height="400"><figcaption id="caption-attachment-2139" class="wp-caption-text"><em>Mô hình lớp học đảo ngược tại chúng tôi là gì?</em></figcaption></figure><h3 id="ftoc-heading-17" class="ftwp-heading">Mô hình lớp học đảo ngược hoạt động như thế nào?</h3><p>Trong mô hình “Lớp học đảo ngược” trình tự giảng dạy sẽ lật ngược so với mô hình giảng dạy theo phương pháp truyền thống. Mô hình này hướng đến việc chuyển dần không gian học tập trên trường/lớp sang không gian học tập cá nhân. Thời gian học tập trên trường/lớp sẽ được dùng để tương tác, tranh luận, thảo luận làm rõ vấn đề. Thay vì dùng để nghe giảng như trước đây.</p><p>Đối với mô hình này, người học sẽ phải xem các bài giảng trực tuyến trước khi đến lớp. Giờ học trên lớp sẽ dành cho các hoạt động học tập giúp người học nâng cao khả năng làm chủ các kỹ năng thông qua bài tập thực hành và thảo luận. Từ đó giúp người học phát huy tính tính chủ động trong việc tìm hiểu, nghiên cứu vấn đề…</p><p>Không chỉ hướng tới sự chủ động tích cực của người học, mô hình “Lớp học đảo ngược” cũng chú trọng tương tác giữa người học và giáo viên, người học tham gia phát biểu, thảo luận, xây dựng bài giảng, củng cố kiến thức cùng giáo viên. Như vậy, mọi hoạt động học trên lớp học đảo ngược đều xoay quanh người học, lấy người học làm trung tâm, thúc đẩy người học tích cực và năng nổ hơn.</p><h3 id="ftoc-heading-18" class="ftwp-heading">Điểm khác biệt của mô Hình Lớp học đảo ngược</h3><p>Như ở trong lớp học truyền thống, giáo viên chỉ hướng dẫn, truyền đạt kiến thức. Giúp người học đạt ba mức đầu của thang đo cấp độ tư duy là: ghi nhớ, thông hiểu và vận dụng (do giới hạn về thời gian học). Để đạt đến các mức độ cao hơn, người học phải nỗ lực tự học và nghiên cứu ở nhà.</p><p>Tuy nhiên, trong lớp học đảo ngược, người học có thể đạt ba mức đầu bằng việc xem trước tài liệu, bài giảng ở nhà dưới sự hướng dẫn của giáo viên. Sau đó đến lớp tương tác, thảo luận, thuyết trình, phản biện cùng giáo viên và bạn bè để đạt tiếp ba mức độ cao hơn là: phân tích, đánh giá, sáng tạo. Mô hình học này đã được áp dụng rộng khắp tại hầu hết trường đại học của Việt Nam. Giúp mang lại những hiệu quả nghiên cứu, học tập tốt.</p><h3 id="ftoc-heading-19" class="ftwp-heading">Mô hình Lớp học đảo ngược được áp dụng tại chúng tôi</h3><p>Mô hình đảo ngược tạo ưu thế cho người học trong việc tiến nhanh đến các cấp độ cao trong tư duy. Bởi trong quá trình phân tích, đánh giá, sáng tạo (ba cấp độ cao của tư duy). Học trò không còn phải “tự bơi”, mà có sự kết nối, tương tác và hỗ trợ trực tiếp của bạn bè, thầy cô. Điều này rất quan trọng đối với việc học lập trình. Bởi lập trình là một ngành yêu cầu khả năng tư duy logic và phân tích vấn đề tốt. Với chương trình đào tạo lập trình tại chúng tôi. Học viên sẽ được học theo mô hình “Lớp học đảo ngược”.</p><p>Mỗi học viên đều được khuyến khích tự học trước ở nhà mỗi tuần bằng cách xem trước bài giảng trực tuyến, nghiên cứu tài liệu, ghi chép và vẽ sơ đồ tư duy về thông tin bài học. Giờ học trên lớp sẽ là thời gian để tương tác với giảng viên. Thảo luận, thuyết trình về những kiến thức đã tự nghiên cứu dưới sự hỗ trợ, hướng dẫn của giảng viên. Mô hình này tại chúng tôi đã nhận được đánh giá rất tốt từ các học viên. Hầu hết các học viên tham gia khóa học đều có thể áp dụng kiến thức vào thực chiến với các dự án ngay trong thời gian học.</p><p><span style="background-color: #282828; color: #ffff00;"><a style="color: #ffff00;" href="https://rikkei.edu.vn/mo-hinh-lop-hoc-dao-nguoc/" target="_blank" rel="noopener"></a></span></p><h2 id="ftoc-heading-20" class="ftwp-heading" style="text-align: center;">Kinh nghiệm học lập trình cho người mới bắt đầu</h2><h3 id="ftoc-heading-21" class="ftwp-heading"><strong>Học chậm mà chắc</strong></h3><p>Có thể trong những ngày đầu mới học lập trình, bạn sẽ học rất nhanh và cảm thấy mình đã học đủ những kiến thức cơ bản. Tuy nhiên, càng về sau kiến thức nâng cao càng nhiều. Bạn không nên chủ quan mà nên thực hành thật nhiều bài tập để không bỏ qua kiến thức nền tảng trước khi bước vào các bài học khó hơn.</p><h3 id="ftoc-heading-22" class="ftwp-heading"><strong>Đừng chỉ hài lòng với copy và paste code</strong></h3><p>Việc học code cũng giống như học từ vựng tiếng Anh vậy. Cần phải được viết đi viết lại nhiều lần để ghi nhớ. Bạn không nên lạm dụng thao tác copy, paste để nhập code. Hành động này sẽ tạo thành thói quen xấu cản trở quá trình học tập của bạn. Thay vào đó, hãy tự gõ các dòng code mỗi lần nhập. Mỗi lần gõ là mỗi lần ghi nhớ giúp bạn học lập trình tốt hơn.</p><h3 id="ftoc-heading-23" class="ftwp-heading"><strong>Học đi đôi với hành</strong></h3><p>Bất kỳ một ngành nghề, lĩnh vực nào cũng cần thực hành thật nhiều để có kỹ năng làm việc tốt. Lập trình cũng tương tự vậy! Hãy ngưng việc học lý thuyết và thực hành nhiều hơn. Đầu tiên, hãy tự code theo những kiến thức mà bản thân hiểu. Nếu có lỗi sai, hãy phát hiện và khắc phục nó. Cách học này sẽ giúp bạn tiến bộ rất nhanh đấy.</p><p>Trên đây là quy trình học cơ bản giúp các bạn giải đáp thắc mắc <strong><em>“Học lập trình bắt đầu từ đâu”</em></strong>. Hy vọng bài viết sẽ giúp bạn bắt đầu việc học theo lộ trình khoa học nhất. Chúc bạn thành công!</p>
</div>
